.loginPage {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
}

.loginPage > h2 {
    margin-top: 70px;
    font-size: 26px;
    font-weight: 400;
}


@media screen and (max-width: 500px) {
    .loginPage > h2 {
        align-self: center;
        margin-top: 110px;
    }

}