.ReviewForm {
    width: 400px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-wrap: break-word;
}

@media screen and (max-width: 500px) {
    .ReviewForm {
        width: 100%;
    }
}
