.RegistrationForm {
    width: 250px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15px;
}

label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px;
} 

.requires {
    line-height: 8px;
    font-size: 12px;
    margin-top: 0;
    color: #424242
}
