.breweryPage {
    padding-left: 40px;
}

.breweryPage > h1 {
    margin: 0;
    padding-top: 20px;
}

.breweryPage > h2 {
    margin-bottom: 0;
}

.contact-container {
    margin-top: 16px;
}

.BreweryPage_reviews-list {
    padding: 0;
    margin-top: 0;
}

.BreweryPage_review {
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    width: 40%;
    padding: 0px 20px;
    margin: 20px 20px 0 0;
    background-color: #e0e0e0;
}

.bold {
    font-weight: 800;
    margin-bottom: 0;
}

.deleteContainer {
    width: 100%;
    margin-bottom: 12px;
    margin-top: 0;
}

.deleteContainer > button {
    width: 30%;
    height: 36px;
    border-radius: 5px;
    box-shadow: 0px 3px 8px #888888;
    font-size: 15px;
    background-color: #fedd02;
    border-color: #fedd02;
    margin-top: 20px; 
  }
  
  button:hover {
    box-shadow: 0px 3px 8px #888888;
    background-color: black;
    border-color: black;
    color: #fedd02;
    cursor: pointer;
  }

  @media screen and (max-width: 500px) {
      .breweryPage {
          width: 85%;
          padding-left: 0;
          margin-left: auto;
          margin-right: auto;
      }

      .BreweryPage_review {
          display: block;
          width: 100%
      }

      .deleteContainer > button {
          width: 30%
      }
  }