.registrationPage {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    width: fit-content;
}

.registrationPage > h2 {
    font-size: 26px;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 16px;
}