.paginationContainer {
    margin-top: 30px;
}

.pagination {
    display: flex;
    flex-direction: row;
    width: fit-content;
    border: 1px solid black;
    border-radius: 4px;
}

.pagination > button {
    border: none;
    padding: 4px 10px;
    border-left: 1px solid black;
    font-size: 12px;
}

.pagination > .left {
    border-left: none;
    border-radius: 4px 0 0 4px;
}

.pagination > .right {
    border-radius: 0 4px 4px 0;
}

.disabled:hover {
    color: #bdbdbd;
    background-color: white;
    cursor: default;
    box-shadow: none;
}