section {
    color: black;
}

section > a {
    color: black;
    margin-top: 0px;
    font-size: 20px;
}

.breweryItem {
    margin-top: 30px;
    border: 2px solid #424242;
    border-radius: 4px;
    padding: 30px 40px;
    padding-bottom: 50px;
}

.breweryItem > h3 {
    margin-top: 0px;
    font-size: 22px;
}

.breweryItem p {
    margin-top: 8px;
    margin-bottom: 0px;
}

.container1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container3 {
    text-align: end;
}


@media screen and (max-width: 500px) {
    .breweryItem {
        padding: 20px 30px;
        padding-bottom: 30px;
    }

    .container1 {
        display: flex;
        flex-direction: column;
    }

    .container3 {
        text-align: start;
    }

    .url {
        margin-left: 10px;
    }
}
